<!DOCTYPE HTML>
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="content" class="container marketing">
        <div class="row featurette">
            <div class="row">
                <div class="col-3">
                    <img class="rounded-circle" src="/images/mccain_logo.png" alt="McCain logo" width="240" height="180">
                </div>

                <div class="col-3">
                    <img class="rounded-circle" src="/images/heineken_logo.jpg" alt="Heineken logo" width="240" height="180">
                </div>

                <div class="col-3">
                    <img class="rounded-circle" src="/images/beckers_logo.png" alt="Beckers logo" width="240" height="180">
                </div>
            </div>

            <hr class="featurette-divider">


        <hr class="featurette-divider">
    </div>
</html>