<!DOCTYPE HTML>
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <div th:fragment="navigation" class="container">
        <div class="row">
            <div class="col-3">
                <img class="rounded-circle" src="/images/mccain_logo.png" alt="McCain logo" width="240" height="180">
            </div>

            <div class="col-3">
                <img class="rounded-circle" src="/images/heineken_logo.jpg" alt="Heineken logo" width="240" height="180">
            </div>

            <div class="col-3">
                <img class="rounded-circle" src="/images/beckers_logo.png" alt="Beckers logo" width="240" height="180">
            </div>

            <div class="col-3">
                <address>
                    <strong>Cafetaria de Appelhof</strong><br>
                    <a href="https://www.google.com/maps/place/Wethouder+Appelhofplantsoen+4,+9354+AB+Zevenhuizen" target="_blank">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                    </a> Wethouder appelhofplantsoen 4<br>
                    <i class="fa fa-map-marker" aria-hidden="true"></i> Zevenhuizen, 9354AB<br>
                    <i class="fa fa-phone" aria-hidden="true"></i> 0594 - 63 15 66<br>
                </address>
            </div>
        </div>
    </div>
</html>


