<!DOCTYPE HTML>
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>

    <body>
        <noscript th:replace="fragments/noscript :: noscript"></noscript>

        <header>
            <div th:replace="fragments/navigation :: navigation"></div>
        </header>

        <main role="main" class="container">
            Agenda!!
        </main>

        <footer class="footer">
            <div th:replace="fragments/footer :: footer"></div>
        </footer>
    </body>
</html>