<!DOCTYPE HTML>
<html lang="nl" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/header :: header"></head>

    <body>
        <noscript th:replace="fragments/noscript :: noscript"></noscript>

        <header>
            <div th:replace="fragments/menu :: navigation"></div>
        </header>

        <main role="main" class="container">
            <div id="event-container" class="mt-2">
                <div class="card" v-for="event in events">
                    <div class="card-header">
                        <h1>{{ event.eventName }}</h1>
                    </div>

                    <div class="card-body">
                        <p v-html="event.eventDescription"></p>
                    </div>

                    <div class="card-footer">
                        <small v-if="event.updateDateTime != null">Last updated on: {{ event.updateDateTime }}</small>
                        <small v-else>Created on: {{ event.creationDateTime }} </small>
                    </div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div th:replace="fragments/footer :: footer"></div>
        </footer>
    </body>
</html>

<script>
    new Vue({
        el: '#event-container',
        data: {
            events: []
        },
        created () {
            var self = this
            $.ajax({
                method: 'GET',
                url: '/events/list',
                dataType: 'json',
                success: function (response) {
                    self.events = response
                }
            });
        }
    })
</script>